@charset "UTF-8";
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
a {
  text-decoration: none;
  color: #000;
}
:focus {
  outline: 0;
}
input {
  outline: none;
  border: none;
}
.svg {
  padding: 20px;
}
.svg__wrap {
  cursor: pointer;
}
.svg__wrap + .svg__wrap {
  margin-left: 20px;
}
.svg__wrap:hover .svg__icon {
  fill: #000;
  stroke: #fff;
}
.svg__wrap:hover .svg__icon.-type2 {
  fill: #fff;
  stroke: #000;
}
.svg__wrap:hover .svg__text {
  fill: #fff;
}
.svg__wrap:hover .svg__text.-type2 {
  fill: #000;
}
